/TheSearch.app/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/TheSearch.app/obj/Debug/net7.0/apphost.exe
/.idea/.idea.The search/.idea/encodings.xml
/.idea/.idea.The search/.idea/indexLayout.xml
/TheSearch.app/obj/project.assets.json
/TheSearch.app/obj/project.nuget.cache
/TheSearch.app/obj/project.packagespec.json
/.idea/.idea.The search/.idea/projectSettingsUpdater.xml
/TheSearch.app/obj/rider.project.model.nuget.info
/TheSearch.app/obj/Debug/net7.0/TheSearch.app.AssemblyInfo.cs
/TheSearch.app/obj/Debug/net7.0/TheSearch.app.AssemblyInfoInputs.cache
/TheSearch.app/obj/Debug/net7.0/TheSearch.app.assets.cache
/TheSearch.app/obj/Debug/net7.0/TheSearch.app.csproj.CoreCompileInputs.cache
/TheSearch.app/obj/Debug/net7.0/TheSearch.app.csproj.FileListAbsolute.txt
/TheSearch.app/obj/TheSearch.app.csproj.nuget.dgspec.json
/TheSearch.app/obj/TheSearch.app.csproj.nuget.g.props
/TheSearch.app/obj/TheSearch.app.csproj.nuget.g.targets
/TheSearch.app/bin/Debug/net7.0/TheSearch.app.deps.json
/TheSearch.app/bin/Debug/net7.0/TheSearch.app.dll
/TheSearch.app/obj/Debug/net7.0/ref/TheSearch.app.dll
/TheSearch.app/obj/Debug/net7.0/refint/TheSearch.app.dll
/TheSearch.app/obj/Debug/net7.0/TheSearch.app.dll
/TheSearch.app/bin/Debug/net7.0/TheSearch.app.exe
/TheSearch.app/obj/Debug/net7.0/TheSearch.app.GeneratedMSBuildEditorConfig.editorconfig
/TheSearch.app/obj/Debug/net7.0/TheSearch.app.genruntimeconfig.cache
/TheSearch.app/obj/Debug/net7.0/TheSearch.app.GlobalUsings.g.cs
/TheSearch.app/bin/Debug/net7.0/TheSearch.app.pdb
/TheSearch.app/obj/Debug/net7.0/TheSearch.app.pdb
/TheSearch.app/bin/Debug/net7.0/TheSearch.app.runtimeconfig.json
/.idea/.idea.The search/.idea/vcs.xml
/.idea/.idea.The search/.idea/workspace.xml
